*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

ul li {
  list-style-type: none;
}

h1 {
  color: #252f42;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 1.875rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #fa4a0c;
  color: #fff;
  margin-right: 2.125rem;
}

.btn-secondary {
  color: #fff;
  border: 1px solid #fff;
}

.header {
  padding: 1.75rem 0;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
@media (max-width: 960px) {
  .header .container {
    padding: 0 1.5rem;
  }
}
.header .container .header-menu {
  color: #252f42;
}
@media (max-width: 960px) {
  .header .container .header-menu {
    display: none;
  }
}
.header .container .header-menu .active {
  color: #fa4a0c;
}
.header .container .header-menu .header-link {
  padding: 0.625rem;
  margin-left: 5.875rem;
}
.header .container .header-menu .header-link:hover {
  color: #fa4a0c;
}
.header .container .header-hamburger {
  display: none;
}
@media (max-width: 960px) {
  .header .container .header-hamburger {
    display: block;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../../assets/images/hero-img.jpg) no-repeat center center;
  background-size: cover;
  height: calc(100vh - 140px);
  position: relative;
  color: #fff;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 66, 0.4);
}
.hero .container {
  z-index: 1;
}
.hero .container .hero-title {
  font-size: 3rem;
  max-width: 1000px;
  letter-spacing: 0.2px;
  margin-bottom: 1rem;
  color: #fff;
}
.hero .container .hero-desc {
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  color: #f6f6f6;
  margin-bottom: 3.25rem;
}
.hero .phones {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 548px;
  bottom: -33rem;
  z-index: 2;
}

.how-works {
  margin-top: 32rem;
  text-align: center;
}
.how-works .container .how-works-title {
  font-weight: 600;
}
.how-works .container .divider {
  width: 70%;
  height: 1px;
  margin: 4rem auto;
  background-color: #e4e4e4;
}
.how-works .container .first-step,
.how-works .container .second-step,
.how-works .container .third-step {
  display: flex;
}
.how-works .container .second-step {
  margin: 5rem 0;
}
.how-works .container .left {
  width: 50%;
}
.how-works .container .right {
  display: flex;
  width: 50%;
  padding: 0 2rem;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}
.how-works .container .right .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.how-works .container .right .subtitle {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #fa4a0c;
}
.how-works .container .right .description {
  font-size: 1rem;
  width: 20rem;
  color: #737373;
}

.download-app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../../assets/images/download-app-bg.jpg) no-repeat center center;
  color: #fff;
  position: relative;
  height: 31.81rem;
  margin-top: 7rem;
}
.download-app::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 43, 66, 0.4);
}
.download-app .container {
  z-index: 1;
}
.download-app .title {
  color: #fff;
}
.download-app .description {
  padding: 2rem 0;
}
.download-app .btn {
  border-radius: 0.625rem;
}

/*# sourceMappingURL=style.css.map */
