*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
ul li {
  list-style-type: none;
}
h1 {
  color: $secondary-color;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 1.875rem;
  font-weight: bold;
}
.btn-primary {
  background-color: $primary-color;
  color: $white;
  margin-right: 2.125rem;
}
.btn-secondary {
  color: $white;
  border: 1px solid $white;
}
