// COLORS ==========================================================================
$primary-color: #fa4a0c;
$secondary-color: #252f42;
$text-color: #737373;
$white: #fff;
$black: #000;

//FONTS SIZE ===========================================================================
$font-sm: 0.75rem;
$font-md: 1rem;
$font-lg: 1.5rem;
